h2{
    margin-top: 8%;
    text-align: center;
}

h4{
    margin-top: 0;
    margin-bottom: 2%;
    text-align: center;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

.container{
    border: 1px solid black;
    margin:5%;
}

.line-title{
   border: 1px dashed gray;
   margin:5% 5%;
}

.search{
   margin:5% 5%;
}

.search-text{
    display: inline-block;
}

.search-selection{
    margin-left:10px;
    margin-right:30px;
}

.search-consultar{
    margin-right:30px;
}

.form{
    margin:5% 5%;
    border: 1px solid black;
    padding: 5%;
}

.title-result{
   font-weight: bold; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.result-li{
    margin-top:10px;
    margin-bottom:10px;
}

.result-text{
    display: inline-block;
    width: 150px;
}

.result-text-mes{
    display: inline-block;
    width: 16px; 
    margin-right: 20px;
    text-align: right;
}

.result-text-ano{
    display: inline-block;
    width: 50px; 
}

.result-eliminar{
    float:right;
    margin-right: 3%;
    margin-left: 3%;
}

.result-modificar{
    float:right;
}

.form-general{
    display: inline-block;
    width: 50%;
}

.form-text{
    display: inline-block;
    width: 100px;
    margin-top: 10px;
}

.buttons{
     text-align: center;
     margin-top:6%;
}

.button-guardar{
    margin-right: 3%;
}